html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.music {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px 15px 40px;
}

.music-thumb {
    width: 100px;
    height: 100px;
    margin: 0 auto 25px;
}

.music-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.music-name {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #999;
    margin-bottom: 40px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 60px;
}

.play {
    width: 50px;
    height: 50px;
    border-radius: 100rem;
}