html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.music {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
}

.music-thumb {
    width: 100px;
    height: 100px;
}